*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}
body{
    background-color: black;
}
.container{
    min-height: 100vh;
    background-image: linear-gradient(rgba(25, 30, 134, 0.289), rgba(0, 0, 0, 0.818)), url(/Picss/uwp4666810.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    box-shadow: 1px,2px,3px black;
}
.navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(12px);
        box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}
.drop-icon{
  font-size: 40px;
  height: 70px;
  width: 70px;
  background-color: rgba(240, 248, 255, 0);
  color: skyblue;
  border:none;
}
.dropdown{
    margin-right: 80px;
    position: relative;
    display: inline-block;
    border-bottom: none;
}
.drop-content{
    display: none;
    position: absolute;
    background-color: rgba(19, 54, 67, 0.443);
    border-radius: 4px;
    min-width: 160px;
    z-index: 1;
}
.drop-content a{
    color: black;
      padding: 10px 16px;
      text-decoration: none;
      display: block;
      color: whitesmoke;
      border-bottom: 1px solid whitesmoke;
}
.drop-content a:hover {
    background-color: rgba(154, 221, 248, 0.514);
  }

  .dropdown:hover .drop-content {
    display: block;
    
  }
  .dropdown:hover .dropbtn {
    background-color: #2980b9;
  }
.logo p{
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium';
    color: whitesmoke;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.text-container {
    padding: 2rem;
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 15px;
    font-size: 1.1rem;
    line-height: 1.6;
  }
  .img{
    margin-left: 100px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 80%;
    border-radius: 10px;
    
  }
  footer{
    margin-top: 100px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.78);
    background-color: black;
    min-height: 25vh;
  }
  .footer-text{
    color: whitesmoke;
    padding: 30px 100px;
  }